@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Black.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Black.ttf') format('truetype'),
       url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensed-Bold.eot');
  src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Bold.svg#Roboto-Regular') format('svg'),
       url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
       url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedLight';
  src: url('../fonts/RobotoCondensed-Light.eot');
  src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Light.svg#Roboto-Regular') format('svg'),
       url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
       url('../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
       url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Light.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Light.ttf') format('truetype'),
       url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Medium.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Thin.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Thin.ttf') format('truetype'),
       url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

