header, section, footer, aside, nav, main, article, figure {
  display: block;
}
body{
  font-size: 16px;
  font-family: 'RobotoCondensedRegular';
  line-height: 30px;
  color: #414141;
  min-height: 100vh;
  position: relative;
  padding-bottom: 45px;
  margin: 0px;   
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
    transition: 0.3s ease;
}
a:hover{
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.carousel-item img {
width: 100%;
height: auto;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-navbar{}
.custom-navbar .navbar{
  padding: 0;
}
.custom-navbar .navbar-bg{
  background: #080808;
}

.custom-navbar .navbar .navbar-toggler{
  color: #fff;
}
.custom-navbar .navbar .navbar-toggler i{
  vertical-align: sub;
}
.custom-navbar .navbar .navbar-nav li a{
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
}
.custom-navbar .navbar .navbar-nav li a.active{
  background: #990000;
}
.custom-navbar .navbar .navbar-nav li:hover a, .custom-navbar .navbar .navbar-nav li.active a{
  background: #990000;
}

.registration-detail{}

.registration-detail ul li {
    margin: 0 0 8px;
}
.registration-detail ul li i {
  float: left;
  padding-top: 8px;
  color: #dc5f49;
  font-size: 15px;
}
.registration-detail ul li span{
  padding-left: 25px;
  display: block;
  text-transform: capitalize;
}

.input-group{ 
  position:relative; 
  margin:15px 0; 
  padding: 0;
}
.input-box{
  font-size:16px;
  padding:16px 6px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #ccc;
}
.input-box:focus{ outline:none; border-bottom:none;}


/* LABEL ======================================= */
.label-text{
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:6px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.input-box:focus ~ .label-text, .input-box:valid ~ .label-text{
  top:-8px;
  font-size:14px;
  color:#3f5aad;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: #3f5aad;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.input-box:focus ~ .bar:before, .input-box:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input-box:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
.custom-footer{
  background: #080808;
  color: #fff;
   position: absolute;
   bottom: 0px;
   width: 100%;
  
}

/*.otp-step{
  display: none;
}

.booking-step{
  display: none;
}*/

/* terms condition css start */

.grey-bg{
  background: #eee;
}
.condition-detail {
  
}
.condition-detail h2{
  font-size: 25px;
  line-height: 40px;
  color: #44014c;
}
.condition-detail ul{}
.condition-detail ul li{
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 25px;
}
.condition-detail ul li h3 {
    font-size: 18px;
    line-height: 28px;
    color: #44014c;
}



/* contact css start 
.custom-contact-wrapper{
  background-color: rgba(0, 46, 91, 0.8);
  padding: 0 20px;
}
*/

.promo {
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 30px;
}

.promo h4{

}

.img-hover-effect {
    overflow: hidden;
    position: relative;
}

.img-hover-effect:before, .img-hover-effect:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.6s ease-out 0s;
    -moz-transition: all 0.6s ease-out 0s;
    transition: all 0.6s ease-out 0s;
}

.address h4{
    margin-left: 15px;
    margin-bottom: 12px;
}
.address ul{
    background: #fff;
    padding: 15px;
    line-height: 30px;
}
.address ul li{
  padding: 0px;
  border: 0px solid #ccc;
  background: #fff;
  margin-bottom:0px;
}
.thankyou h1 {
    text-align: center;
    padding: 60px 58px;
}
.booking-details{
    margin-top: 10px;
}
.verify-code{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*.booking-step .label-text{
    left: 10px !important;
}*/
select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

/*select#city {
    display: none !important;
  }
  .dropdown-select {
    background-repeat: repeat-x;
    background-color: #f2f1f0;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 56px;
    outline: none;
    padding-left: 9px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
  }
  .dropdown-select:focus {
    background-color: #fff;
  }
  .dropdown-select:hover {
    background-color: #fff;
  }
  .dropdown-select:active,
  .dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  .dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  .dropdown-select.open .option {
    cursor: pointer;
  }
  .dropdown-select.wide {
    width: 100%;
  }
  .dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
  }
  .dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  .dropdown-select .dd-searchbox{
    width:100%;
    padding:0.1rem;
    border:1px solid #999;
    border-color:#999;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#12CBC4;
  }
  .dropdown-select .list ul {
    padding: 0;
  }
  .dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
  }
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
  }
  .dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
  }
  .dropdown-select .option.selected:focus {
    background: #f6f6f6;
  }
  .dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .dropdown-select a:hover {
    color: #666;
  }*/
  
  .container .copy-right {
    text-align: center;
  }
  label.label-text.preferdate {
    top: -10px;
    color: #999;
    font-size: 16px;
  }
 label.label-text.preferdate:focus {
     top: -10px;
    color: #3f5aad !important;
    font-size: 14px;
    outline: none;
  }
  .input-box:focus ~ .preferdate, .input-box:valid ~ .preferdate {
    top: -8px;
    font-size: 14px;
    color: #3f5aad !important;
 }

#border{  
  position: relative;
  width: 40%;
  height: 4px;
  background-color: #990000;
  margin-bottom: 15px;
  margin-top: 5px;
}
.registration-detail p {
    margin-left: 25px;
}
.feedback{
  color: #990000;
  background-color: antiquewhite;
  padding: 5px 10px;
  border-radius: 5px;

}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f5f5f5;
  /* border-radius: .25rem; */
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #a8a8a9;
  border-radius: .25rem;
  border-left: .2rem solid #990000  !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn{  
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  float: right;
}
.card{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;   
  /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14),
     0 1px 5px 0 rgba(0,0,0,.12);*/
  padding: 5px;
}
.input-group.pd {
  margin: 0px 0px;
}

.bcd img {
  width: 100%;
  height: auto;
  display: block;
}
p.bottom {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.container .bcd div a.bottom h3{padding: 0 10px;}
/*payment */
.card-footer {
  padding: .75rem 1.25rem;
  background-color:transparent !important;
  border-top:0px !important;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color:transparent !important;
  border-top:0px !important;
  border-bottom: 0px solid rgba(0,0,0,.125);
}